.k-wrapper{
 
    color: white;
    padding: 50px;
  
  
}


.k-btn{
    background-color:   #131B23;
    color: aliceblue;
    cursor: pointer;;
    width: 100px;
    margin: 10px;
 
}



@media (max-width: 640px) {
    .k-wrapper{
       margin: 20px;
      
    }
    
}